<%= simple_form_for(@discussion) do |f| %>
  <div class="columns is-flex">
    <div class="column is-8">
      
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%= number_to_human_size @discussion.main_picture.byte_size %>
<%= @discussion.main_picture.representable? %>
<%= @discussion.main_picture.metadata %>
        <div class="field">
          <div class="control">
            <%= f.input :title, required: true, input_html:  { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
          </div>
        </div>

        <%= render (@discussion.main_picture.attached? ? 'photo_input' : 'file_input_empty'), f: f %>

        <div class="field">
          <div class="control">
            <%= f.input :content, required: true, input_html:  { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
          </div>
        </div>

        <div class="field">
          <label class="label">Topic/Channel</label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :channel_id, collection: @channels.map{ |c| [c.channel, c.id] }, prompt: 'Select topic/channel', class: 'label' %>
            </span>
            <span class="icon is-small is-left">
              <i class="fa fa-tag"></i>
            </span>
          </div>
        </div>


        <div class="field">
          <div class="control">
            <%= f.button :submit, class: "button is-info" %>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <label class="label">*  Actions</label>
        <div class="is-full-width">
          <%= f.button :submit, class: "button is-info is-fullwidth is-outlined" %>
          <%# <button class="button is-info is-fullwidth">Save and continue</button> %>
          <br>
          <button class="button is-danger is-fullwidth is-outlined">Cancel</button>
        </div>
      </div>
    </div>
  <% end %>
