<div class="column is-8">
  <h3 class="title is-5 has-text-grey-light">Latest Discussions</h3>
  <p id="notice"><%= notice %></p>
  <div class='discussions'>
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1 is-align-items-center">
          <% if discussion.main_picture.attached? %>
            <%= image_tag discussion.main_picture %>
          <% else %>
            <%= gravatar_image_tag(discussion.user.email, class: 'border-radius-50', size: 48, alt: discussion.user.username) %>
          <% end %>
        </div>
        <div class='column is-11'>
          <div class='columns'>
            <div class='column'>
            <%= link_to discussion, class: 'has-text-grey' do %>
              <h3 class='title is-5 mb-0'><%= discussion.title %></h3>
              <div class='content'>
                <%= truncate(strip_markdown(discussion.content), length: 180) %>
                
                <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago
                by <span class='has-text-info'><%= discussion.user.username %></span>
                </small></em></p>
              </div>
            <% end %>
            </div>

            
            <% if discussion_author(discussion) || has_role?(:admin) %>
              <div class='column is-3 has-text-right'>
                <%=  link_to 'Edit', edit_discussion_path(discussion), class: 'button' %>
                <%=  link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
              </div>
            <% end %>
          </div>
        </div>
        
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Discussion', new_discussion_path, class: "button  is-info is-outlined" %>
</div>
